* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: "Jost";
    src: url(fonts/jost/Jost-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Jost";
    src: url(fonts/jost/Jost-Regular.ttf);
    font-weight: 400;
}

body {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    background-color: #F8F8F7;
}

img {
    display: block;
}

input,
select,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 900px;
}

.left {
    position: fixed;
    max-width: 665px;
    width: 100%;
    padding: 30px 0 0 147px;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
}

.title {
    font-size: 44px;
    line-height: 58px;
    font-weight: 500;
    color: #1D1D1D;
    margin-top: 80px;
}

.desc {
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    color: #8C8C8C;
    margin-top: 10px;
}

.desc_2 {
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    color: #1D1D1D;
    margin-top: 60px;
}

.links {
    display: flex;
    justify-content: space-between;
    max-width: 446px;
    width: 100%;
    margin-top: 20px;
}

.links_item {
    display: block;
}

.links_item_img_border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 198px;
}

.links_item p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #FF868E;
    letter-spacing: 2px;
    margin-top: 10px;
}

.links_item:hover p {
    background-color: #FBE0DC;
}

.links_item.voting .links_item_img_border {
    background-color: #B4B7FF;
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 20px;
}

.links_item.voting .links_item_img {
    background-image: url(img/vote-table.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 124.47px;
}

.links_item.breeds .links_item_img_border {
    background-color: #97EAB9;
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 20px;
}

.links_item.breeds .links_item_img {
    background-image: url(img/pet-breeds.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 117px;
    height: 163px;
}

.links_item.gallery .links_item_img_border {
    background-color: #FFD280;
    border: 4px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border-radius: 20px;
}

.links_item.gallery .links_item_img {
    background-image: url(img/images-search.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 112px;
    height: 190px;
}

.links_item:hover .links_item_img_border {
    border: 4px solid rgb(255, 255, 255);
}

.links_item.active .links_item_img_border {
    border: 4px solid #FBE0DC;
}
.links_item.active p {
    background-color: #FF868E;
    color: #FFFFFF;
}

.right {
    max-width: 710px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 30px 30px 0 0;
}

.bg_rect {
    width: 680px;
    height: 840px;
    border-radius: 20px;
    background-color: #FBE0DC;
}

.right.home img {
    position: absolute;
    top: 0;
    right: 0;
}

/* gallery */

.nav_bar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.search_input {
    display: block;
    width: 470px;
    height: 60px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 50px 15px 20px;
    font-family: "Jost";
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #1D1D1D;
}

.search_input::placeholder {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #8C8C8C;
}

.search_input:focus {
    outline: 2px solid #FF868E;
}

.nav_bar .btn {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.search_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 419px;
    top: 10px;
    background-color: #FBE0DC;
    border: none;
    border-radius: 10px;
    background-image: url(img/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.likes_btn {
    background-image: url(img/like.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.favourites_btn {
    background-image: url(img/favourite.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.dislikes_btn {
    background-image: url(img/dislike.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.nav_bar .btn:hover {
    background-color: #FBE0DC;
}

.search_btn:hover {
    background-color: #FF868E;
    background-image: url(img/search_hover.svg);
}

.nav_bar .btn.active {
    background-color: #FF868E;
}

.likes_btn.active {
    background-image: url(img/like_hover.svg);
}

.favourites_btn.active {
    background-image: url(img/favourite_hover.svg);
}

.dislikes_btn.active {
    background-image: url(img/dislike_hover.svg);
}

.frame {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px;
}

.frame_bar {
    display: flex;
    justify-content: space-between;
}

.breadcrumbs {
    display: flex;
}

.back_btn {
    width: 40px;
    height: 40px;
    background-color: #FBE0DC;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    background-image: url(img/back.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.back_btn:hover {
    background-color: #FF868E;
    background-image: url(img/back_hover.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 40px;
    background-color: #FF868E;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.upload_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 143px;
    height: 40px;
    background-color: #FBE0DC;
    border: none;
    border-radius: 10px;
    font-family: "Jost";
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #FF868E;
    cursor: pointer;
}

.upload_btn i {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-image: url(img/upload.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.upload_btn:hover {
    color: #FFFFFF;
    background-color: #FF868E;
}

.upload_btn:hover i {
    background-image: url(img/upload_hover.svg);
}

.gallery_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F8F8F7;
    border-radius: 20px;
}

.gallery_form label {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 18px;
    font-weight: 500;
    color: #8C8C8C;
}

.gallery_form label:after {
    width: 12px;
    height: 7px;
    position: absolute;
    right: 10px;
    bottom: 16px;
    content: "";
    display: block;
    background-image: url(img/down_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.gallery_form select {
    width: 290px;
    height: 40px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-family: "Jost";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1D1D1D;
    padding-left: 10px;
    box-sizing: border-box;
}

.gallery_form select:hover {
    outline: 2px solid #FBE0DC;
}

.gallery_form select[name=gallery_limit_select] {
    width: 240px;
}

.gallery_form .breed_label {
    margin-right: 10px;
}

.gallery_form .breed_label,
.gallery_form .limit_label {
    margin-top: 10px;
}

.load_new_items_btn {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    margin-top: 28px;
    border: none;
    border-radius: 10px;
    background-image: url(img/load_new_items.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.load_new_items_btn:hover {
    background-color: #FF868E;
    background-image: url(img/load_new_items_hover.svg);
}

.img_pattern {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 140px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
}

.img_pattern_item {
    position: relative;
    background-color: #C4C4C4;
    border-radius: 20px;
    overflow: hidden;
}

.img_pattern_item img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_pattern_item_overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 134, 142, 0.6);
    border-radius: 20px;
    z-index: 2;
}

.img_pattern_item:hover .img_pattern_item_overlay {
    display: block;
}

.img_pattern_item_favourite_btn {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 3;
}

.img_pattern_item:hover .img_pattern_item_favourite_btn {
    display: block;
}

.right.gallery .img_pattern_item_favourite_btn {
    background-image: url(img/add_favourite_on_img.svg);
}

.img_pattern_item:nth-child(10n+1) {
    width: 200px;
    height: 300px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: span 2;
}

.img_pattern_item:nth-child(10n+2) {
    width: 200px;
    height: 140px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.img_pattern_item:nth-child(10n+3) {
    width: 200px;
    height: 140px;
    grid-column-start: 3;
    grid-column-end: 4;
}

.img_pattern_item:nth-child(10n+4) {
    width: 420px;
    height: 300px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-end: span 2;
}

.img_pattern_item:nth-child(10n+5) {
    width: 200px;
    height: 140px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.img_pattern_item:nth-child(10n+6) {
    width: 200px;
    height: 140px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.img_pattern_item:nth-child(10n+7) {
    width: 200px;
    height: 140px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.img_pattern_item:nth-child(10n+8) {
    width: 200px;
    height: 300px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-end: span 2;
}

.img_pattern_item:nth-child(10n+9) {
    width: 420px;
    height: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.img_pattern_item:nth-child(10n+10) {
    width: 200px;
    height: 140px;
    grid-column-start: 3;
    grid-column-end: 4;
}

/* breeds */

.right.breeds .current {
    width: 143px;
}

.breeds_form {
    display: flex;
}

.breeds_form select {
    height: 40px;
    background-color: #F8F8F7;
    border: none;
    border-radius: 10px;
    font-family: "Jost";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #8C8C8C;
    padding-left: 10px;
    box-sizing: border-box;
}

.breeds_form label {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.breeds_form label:after {
    width: 12px;
    height: 7px;
    position: absolute;
    right: 10px;
    bottom: 16px;
    content: "";
    display: block;
    background-image: url(img/down_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.breeds_form select:hover {
    outline: 2px solid #FBE0DC;
}

.breeds_form select[name=breeds_breeds_select] {
    width: 226px;
}

.breeds_form select[name=breeds_limit_select] {
    width: 101px;
}

.breeds_form .btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #F8F8F7;
    border: none;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sorting_z_a_btn {
    margin-right: 10px;
    background-image: url(img/sorting_z_a.svg);
}

.sorting_a_z_btn {
    background-image: url(img/sorting_a_z.svg);
}

.sorting_z_a_btn:hover {
    border: 2px solid #FBE0DC;
    background-image: url(img/sorting_z_a_hover.svg);
}

.sorting_a_z_btn:hover {
    border: 2px solid #FBE0DC;
    background-image: url(img/sorting_a_z_hover.svg);
}

.img_pattern_item_breed_link {
    display: none;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 34px;
    left: 50%;
    bottom: 10px;
    color: #FF868E;
    transform: translate(-50%, 0);
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    z-index: 3;
}

.img_pattern_item:hover .img_pattern_item_breed_link {
    display: flex;
}

/* breed */

.breed .current {
    width: 143px;
    background-color: #FBE0DC;
    color: #FF868E;
}

.current_breed_id {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    background-color: #FF868E;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 10px;
}

.breed_gallery {
    margin-top: 20px;
}











.slider {
    width: 100%;
    position: relative;
}

.view {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav_btns {
    position: absolute;
    width: 90px;
    height: 30px;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}

.nav_btn {
    width: 10px;
    height: 10px;
    background-color: #FBE0DC;
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.nav_btn.active {
    background-color: #FF868E;
}

.slide_list {
    display: flex;
    width: 100%;
    transition: 1s;
}

.slide {
    flex: 1 0 100%;
    width: 640px;
    height: 360px;
    border-radius: 20px;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}











.breed_info {
    position: relative;
    width: 640px;
    height: 204px;
    border: 2px solid #FBE0DC;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 51px;
    padding: 26px 40px 0 40px;
}

.breed_info_name {
    position: absolute;
    width: 193px;
    height: 62px;
    left: 50%;
    top: -30px;
    transform: translate(-50%);
    background: #FFFFFF;
    border-radius: 20px;
    font-size: 36px;
    line-height: 52px;
    font-weight: 500;
    color: #1D1D1D;
    text-align: center;
}

.breed_info_bred_for {
    font-size: 20px;
    line-height: 29px;
    font-weight: 500;
    color: #8C8C8C;
    text-align: center;
}

.breed_info_in_wrapp_1 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.breed_info_temperament_wrapp {
    width: 268px;
}

.breed_info_temperament_title {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: #1D1D1D;
}

.breed_info_temperament_text {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: #8C8C8C;
}

.breed_info_in_wrapp_2 {
    width: 268px;
}

.breed_info_height,
.breed_info_weight,
.breed_info_life_span {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: #1D1D1D;
}

.breed_info_weight {
    margin: 10px 0;
}

.breed_info_height span,
.breed_info_weight span,
.breed_info_life_span span {
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: #8C8C8C;
}

/* voting */

.right.voting .current {
    width: 146px;
}

.voting_card {
    margin-top: 20px;
    position: relative;
}

.voting_card_img_wrap {
    width: 640px;
    height: 360px;
    border-radius: 20px;
    overflow: hidden;
}

.voting_card_img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.voting_card_btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 248px;
    height: 80px;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 50%);
    background-color: #FFFFFF;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
}

.voting_card_btn .btn {
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
}

.voting_card_like_btn {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #97EAB9;
    background-image: url(img/add_like.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.voting_card_favourite_btn {
    background-color: #FF868E; 
    background-image: url(img/add_favourite.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.voting_card_dislike_btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFD280;
    background-image: url(img/add_dislike.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.voting_card_like_btn:hover {
    background-color: #97EAB94D;
    background-image: url(img/add_like_hover.svg);
}

.voting_card_favourite_btn:hover {
    background-color: #FF868E4D; 
    background-image: url(img/add_favourite_hover.svg);
}

.voting_card_dislike_btn:hover {
    background-color: #FFD2804D;
    background-image: url(img/add_dislike_hover.svg);
}

.voting_log {
    margin-top: 52px;
    overflow-y: scroll;
    height: 280px;
}

.voting_log::-webkit-scrollbar {
    width: 0;
  }

.voting_log_item {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #F8F8F7;
    border-radius: 10px;
    padding: 0 20px 0 15px;
    margin-bottom: 10px;
}

.voting_log_item:last-child {
    margin-bottom: 0;
}

.voting_log_item_time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-right: 20px;
}

.voting_log_item_text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #8C8C8C;
}

.voting_log_item_img_id {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #1D1D1D;
}

.voting_log_item_action {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #8C8C8C;
}

.voting_log_item_action_target {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #8C8C8C;
}

.voting_log_item_img {
    margin-left: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.voting_log_item_img_favourites {
    width: 20px;
    height: 18px;
    background-image: url(img/favourite_small.svg);
}

.voting_log_item_img_likes {
    width: 20px;
    height: 20px;
    background-image: url(img/like_small.svg);
}

.voting_log_item_img_dislikes {
    width: 20px;
    height: 20px;
    background-image: url(img/dislike_small.svg);
}

.voting_log_item_spacer {
    white-space: pre;
}

/* search */

.search .current {
    width: 148px;
}

.search_results_text {
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    color: #8C8C8C;
    margin-top: 20px;
}

.search_results_text span {
    font-weight: 500;
    color: #1D1D1D;
}

/* favourites */

.favourites_btn.active {
    background-color: #FF868E;
    background-image: url(img/favourite_active.svg);
}

.favourites .current {
    width: 192px;
}

.favourites .img_pattern_item_favourite_btn {
    background-image: url(img/added_favourite_on_img.svg);
}

.favourites .voting_log {
    margin-top: 40px;
}

/* likes */

.likes_btn.active {
    background-color: #FF868E;
    background-image: url(img/like_active.svg);
}

.likes .current {
    width: 119px;
}

/* dislikes */

.dislikes_btn.active {
    background-color: #FF868E;
    background-image: url(img/dislike_active.svg);
}

.dislikes .current {
    width: 156px;
}

/* defaultstate */

.defaultstate_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    background-color: #F8F8F7;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #8C8C8C;
    margin-top: 20px;
    padding-left: 20px;
}

/* loadingstate */

.loading_wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.loading_img {
    width: 100px; 
    height: 100px; 
    border: 1px solid #FF868E;
    border-radius: 50%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}

@keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

@-moz-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

/* modal */

.modal_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1D1D1D99;
}

.modal_wrapp {
    padding: 30px 30px 30px 0;
}

.modal {
    position: relative;
    width: 680px;
    height: 840px;
    background-color: #F8F8F7;
    border-radius: 20px;
    padding: 100px 20px 0 20px;
    box-sizing: border-box;
}

.modal_close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    background-image: url(img/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.modal_close:hover {
    background-image: url(img/close_hover.svg);
}

.modal_title {
    font-size: 36px;
    line-height: 52px;
    font-weight: 500;
    text-align: center;
    color: #1D1D1D;
}

.modal_subtitle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: #8C8C8C;
    margin-top: 10px;
}

.modal_subtitle a {
    color: #FF868E;
}

.modal_img_up_wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 640px;
    height: 320px;
    background-color: #FFFFFF;
    border: 2px dashed #FBE0DC;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 40px;
}

.modal_img_up_wrapp_error {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 640px;
    height: 320px;
    background: #FBE0DC;
    border: 2px dashed #FF868E;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 40px;
}

.modal_img_up_placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-image: url(img/img_placeholder.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.modal_img_up_text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: #8C8C8C;
    z-index: 2;
}

.modal_img_up_text span {
    font-weight: 500;
    color: #1D1D1D;
}

.modal_nfs {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: #8C8C8C;
    margin-top: 20px;
}

.modal_img_up_img  {
    width: 558px;
    height: 280px;
    border-radius: 10px;
}

.modal_img_up_wrapp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal_up_file_name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: #8C8C8C;
    margin-top: 20px;
}

.modal_up_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 40px;
    background-color: #FF868E;
    border: none;
    border-radius: 10px;
    font-family: "Jost";
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 20px auto 0 auto;
    cursor: pointer;
}

.modal_up_btn:hover {
    background-color: #FBE0DC;
    color: #FF868E;
}

.modal_up_btn_active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 40px;
    background-color: #FF868E;
    border: none;
    border-radius: 10px;
    font-family: "Jost";
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 20px auto 0 auto;
}

.modal_up_btn_active i {
    display: block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
}

.modal_up_status {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing: border-box;
}

.modal_up_status img {
    margin-right: 10px;
}

.modal_up_status_text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #8C8C8C;
}